body,
html {
  height: 100%;
  margin: 0;
}

.navbar a:hover {
  cursor: progress;
  color: white;
}

.bg {
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/akhilakandi93/akhilakandi.github.io/master/images/bg1.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.img-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.button {
  background-color: #ff5050;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 105px;
  cursor: pointer;
}

.rcorners {
  border-radius: 45px;
  border: 1px solid #a6a6a6;
  padding: 10px;
  width: 300px;
  height: 15px;
}

input,
textarea {
  padding: 0 10px;
  margin: 0;
  width: 240px;
  background: none;
}


/* Links inside the navbar */

.navbar a {
  float: right;
  display: block;
  color: #e6e6e6;
  text-align: center;
  font-family: verdana;
  padding: 27px 50px;
  text-decoration: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff5050;
  ;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
